.card {
  width: 100%;
  max-width: 300px;
  aspect-ratio: 1/1;
  background-color: red;
  border: 1px solid black;
  box-sizing: border-box;
  transition: all 0.2s;
  border-radius: 10px;
}

.clicked {
  background-color: rgb(186, 186, 186);
  transform: scale(0.95);
  pointer-events: none;
}
